# Django
db.sqlite3
*.log
local_settings.py
.env
__pycache__/
*.py[cod]
*$py.class
apps/*/migrations/0*.py
!apps/*/migrations/__init__.py

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# OS
.DS_Store
Thumbs.db

# Media & Static
media/
staticfiles/

# Environments
.venv/
env/
venv/
ENV/
